body{
  background-color: #dceb5b
}
h1{
  text-align: center; color: #bd374c; font-size: 40px; font-style: italic;
}
p{
  text-align: justify; color: rgb(50, 0, 255);
}
#imagem1 {
  width: 15%;
  border: 10px double black;
  margin-left: 10%
}

#paragrafo1{
    border: 10px double black;
      margin-left: 10%;
      margin-right: 40%;
      text-align: justify; font-size: 30px

}
.Flores {
  text-align: justify; color: blue;
  font-size: 50px;

}
.tiposFlores {
  border: 10px double black;
  margin-left: 5%;
  margin-right: 30%;
  padding-left: 3%;
  background-color: pink;
}

ol {
  display: inline-block;
  vertical-align: top;
}
img {
  width: 30%
}
